* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.squid {
    grid-column: 1 / 5;
}

.parent-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1 / span 8;
}

.grid-container2 {
    grid-column: 1 / span 8;
}

.para {
    grid-column: 2 / 6;
    background-color: hotpink;
}

h1 {
    background-color: yellow;
    grid-column: 4 / 8;
}